
.search {
    margin-bottom: 40rpx;
  }

  .left-title{
    font-size: 28rpx;
    color: #818484;
    margin-bottom: 15rpx;
  }
  .m-t36{
    margin-top: 36rpx;
  }
  .line-through{
    text-decoration: line-through;
    color: #8e8e8e;
  }