.btn-s-size{
    font-size: 30rpx;
    width: 116rpx;
    height: 63rpx;
    line-height: 63rpx;
}
.flex{
    display: flex;
}
.search {
    margin-bottom: 40rpx;
  }
  
  .input {
    border: 1rpx solid #ddd;
    padding: 20rpx 40rpx;
    border-radius: 8rpx;
    background-color: #fff;
  }
  .add-btn {
    width: 46%;
    margin-top: 20rpx;
    background-color: #07c160;
    text-align: center;
    color: #fff;
    border-radius: 8rpx;
  }
  .table-container {
    overflow-x: auto;
    max-height: 1000rpx;
  }
  .nut-pagination{
    margin-top: 20rpx;

  }
  .nut-pagination .active{
    background: #07c160;
  }